/*
0 - 600 : Phone
600 - 900 : Tablet portrait 
900 - 1200 : Tablet landscape
[1200 - 1800] : is where aor normal styles apply
1800 + : big screens 
$breakpoint argument choises
- phone 
- tab-port
- tab-land
- big-desktop
1em = 16px
ORDER: Base + typography > general layout + grid > page layout > components 
*/
html {
  font-size: 62.5% !important;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 53.12% !important;
  }
}

/* FONTS */
* {
  font-family: "Quantico", sans-serif !important;
}

/* COLORS */
body {
  background: linear-gradient(to right, #172031, #1f2a3e);
}

/* CLASSES */
.w-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

#ghost-portal-root {
  display: none;
}

.safe-margin {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.safe-margin-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}
@media (max-width: 600px) {
  .safe-margin-3 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
  }
}

.home-pagination {
  display: none;
}

.header-container {
  background: #172031;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header__nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.8rem;
       column-gap: 1.8rem;
  position: relative;
}
.header__nav::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: -1.5rem;
  width: 4rem;
  height: 2rem;
  border-bottom: 2px solid #0ba4c4;
  border-right: 2px solid #0ba4c4;
}
.header__nav::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1.5rem;
  width: 4rem;
  height: 2rem;
  border-top: 2px solid #0ba4c4;
  border-left: 2px solid #0ba4c4;
}
.header__nav-link {
  color: #dfdfdf !important;
  font-size: 2rem;
  line-height: 1.2;
  transition: all 0.2s !important;
}
.header__nav-link:hover {
  color: #0ba4c4 !important;
}

.header__links {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.header__link {
  width: 4.25rem;
  height: 4.25rem;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #0f1620;
  transition: all 0.2s;
}
.header__link:hover {
  border-color: #0ba4c4;
  padding: 0.8rem;
}
.header__link:not(:last-child) {
  position: relative;
}
.header__link:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 25%;
  right: -0.8rem;
  width: 2px;
  height: 50%;
  background: #0ba4c4;
}
.header__link img {
  width: 100%;
  height: 100%;
}

.footer-container {
  background: #172031;
  box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.footer .footer__copy {
  width: 100%;
  text-align: center;
  color: #78828a;
  line-height: 1.2;
  font-size: 1.6rem;
}

/* HERO */
.home-hero {
  position: relative;
  width: 100%;
  height: 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-hero__banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.home-hero__logo {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 2rem;
}
.home-hero__logo img {
  height: 6rem;
  margin-right: 1rem;
}
.home-hero__logo h2 {
  color: #dfdfdf;
  font-size: 3rem;
  line-height: 1.2;
}
.home-hero__title {
  position: relative;
  z-index: 5;
  font-size: 3rem;
  line-height: 1.2;
  color: #dfdfdf;
}

/* FEATURED BODY */
.home-body {
  padding: 3rem;
}
.home-body .home-posts {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* BIG CARD */
.b-card {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  background: linear-gradient(to left, #172031, #1f2a3e);
}
.b-card a {
  text-decoration: none;
}
.b-card__left {
  width: 50%;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}
.b-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.b-card__right {
  width: 50%;
  padding: 1.5rem 2rem 1.5rem 0;
  display: flex;
  flex-direction: column;
}
.b-card__tags {
  margin: 1rem 0 2rem;
}
.b-card__tags a {
  color: #dfdfdf;
  line-height: 1.2;
  font-size: 2rem;
  transition: all 0.2s;
}
.b-card__tags a:hover {
  color: #0ba4c4;
}
.b-card__title {
  color: #0ba4c4;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1.8rem;
  transition: all 0.2s;
}
.b-card__title:hover {
  color: #dfdfdf;
}
.b-card__content {
  color: #dfdfdf;
  opacity: 0.85;
  line-height: 1.2;
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.b-card__content *:not(p) {
  display: none;
}

.b-card__footer {
  display: flex;
  align-items: center;
  color: #78828a;
  margin-top: auto;
}

.b-card__author-img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1.4rem;
}

.b-card__footer-info {
  display: flex;
  flex-direction: column;
}

.b-card__name {
  color: #0ba4c4;
  font-weight: bold;
}

.b-card__footer-time {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.b-card__separator {
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid #78828a;
  border-radius: 50%;
  margin: 0 1rem;
}

/* NORMAL CARD */
.card {
  display: flex;
  flex-direction: column;
  max-width: 32%;
  margin-bottom: 3rem;
}
.card a {
  text-decoration: none;
}
.card__image-box {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.card__img {
  width: 100%;
  height: 100%;
}
.card__text {
  padding: 1rem;
}
.card__tags {
  margin-bottom: 1.8rem;
}
.card__tags a {
  color: #dfdfdf;
  line-height: 1.2;
  font-size: 1.8rem;
  transition: all 0.2s;
}
.card__tags a:hover {
  color: #0ba4c4;
}
.card__title {
  color: #0ba4c4;
  line-height: 1.2;
  font-size: 3rem;
  margin-bottom: 1.4rem;
  transition: all 0.2s;
}
.card__title:hover {
  color: #dfdfdf;
}
.card__content {
  color: #dfdfdf;
  opacity: 0.8;
  line-height: 1.2;
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card__content *:not(p) {
  display: none;
}
.card .b-card__footer {
  padding: 0 1rem 1rem;
  margin-top: 0;
}
.card .b-card__author-img {
  width: 4rem;
  height: 4rem;
}
.post-page__header {
  padding-top: 7rem;
}
.post-page__title {
  color: #0ba4c4;
  line-height: 1.2;
  font-size: 5rem;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
.post-page__tags {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 2rem;
}
.post-page__tags a {
  text-decoration: none;
  color: #dfdfdf;
  line-height: 1.2;
  font-size: 1.8rem;
  transition: all 0.2s;
}
.post-page__tags a:hover {
  color: #0ba4c4;
}
.post-page__img {
  margin: 7rem 0 3rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.post-page__body {
  width: 800px;
  margin: 0 auto;
  padding: 5rem 0;
}
.post-page__body h2 {
  color: #0ba4c4;
  font-size: 4rem;
  line-height: 1.2;
  margin: 2.4rem 0;
}
.post-page__body h3 {
  color: #0ba4c4;
  font-size: 3rem;
  line-height: 1.2;
  margin: 1.6rem 0;
}
.post-page__body p {
  color: #dfdfdf;
  line-height: 1.2;
  font-size: 1.8rem;
  margin: 5rem 0;
  letter-spacing: 0.5px;
  opacity: 0.9;
}
.post-page__body img {
  margin: 5rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.post-page__body .kg-button-card a.kg-btn-accent {
  color: #fff !important;
}
.post-page__body a {
  word-break: break-all;
  color: #0ba4c4 !important;
  transition: all 0.3s;
}
.post-page__body a:hover {
  color: #dfdfdf !important;
}
.post-page__body strong {
  color: #0ba4c4;
}
.post-page__footer {
  padding-bottom: 4rem;
}

.post-footer__title {
  color: #0ba4c4;
  line-height: 1.2;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.post-footer__related {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post-footer__related .card__image-box {
  height: 25rem;
}
.post-footer__related .b-card__footer {
  margin-top: auto;
}

.tag-page {
  padding: 7rem 0 4rem;
}
.tag-page__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  color: #0ba4c4;
  line-height: 1.2;
  font-size: 5rem;
  margin-bottom: 2rem;
}
.tag-page__subtitle {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  color: #dfdfdf;
  line-height: 1.2;
  font-size: 2rem;
  margin-bottom: 9rem;
}
.tag-page__posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}